*{
    margin:0px;
    ;
}

header {
    background-color: #1A1A1A;
    color: white;
    position: fixed;     
    top: 0;
    left: 0;
    width: 100%; 
 
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;   
}


nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFD700;
}


body {
    padding-top: 80px;   
}


nav {
    margin-left: auto;
    font-size: 20px;
}

body{
    background-color: #000000;
}
.intro {
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;     
    height: 100vh;            
    padding: 0;              
    color: white;
}

.name {
    font-size: 120px;        
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 50px;     
}
.name {
    font-size: 90px;           /* BIG SIZE */
    color: white;
    letter-spacing: 8px;
    font-weight: 800;
}

/* letters */
.name span {
    opacity: 0;
    display: inline-block;
    animation: reveal 3s linear infinite;
}

/* delay for each letter */
.name span:nth-child(1) { animation-delay: 0s; }
.name span:nth-child(2) { animation-delay: 0.3s; }
.name span:nth-child(3) { animation-delay: 0.6s; }
.name span:nth-child(4) { animation-delay: 0.9s; }
.name span:nth-child(5) { animation-delay: 1.2s; }
.name span:nth-child(6) { animation-delay: 1.5s; }
.name span:nth-child(7) { animation-delay: 1.8s; }
.name span:nth-child(8) { animation-delay: 2.1s; }

@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    15% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}





.image img {
    width: 400px;
    height: 400px;
   
 ;
}




.card-container{
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.card {
  background:#020617;
  padding: 50px;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  border:solid #FFD700 5px ;
  text-align: center;
  color: white;
  font-size: 20px;
}


body {
    overflow-x: hidden;
}



.box-wrapper {
    overflow: hidden;
    width: 100%;
    padding-bottom: 10px;
}


.box-container {
    display: flex;
    gap: 30px;
    white-space: nowrap;
    animation: scroll 18s linear infinite;
}


.box-wrapper:hover .box-container {
    animation-play-state: paused;
}


.box {
    flex: 0 0 auto;
    width: 190px;
    height: 100px;

    background-color: #020617;      
    border: 3px solid #FFD700;
    border-radius: 15px;

    color: white;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
}


.box:hover {
    background: linear-gradient(135deg,  #ffeb3b);
    color: #020617;
    transform: scale(1.15);
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.9);
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.three-card-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;             
    justify-content: center;     
    align-items: center;         
    margin: 0 auto; 
    padding-top: 10px;           
}


.info-card {
    width: 280px;
    background: black;
    border: 2px solid #FFD700;
    border-radius: 18px;
    color: white;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}


.info-card img.card-img {
    width: 100%;
    height: 140px;           
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}


.info-card h2 {
    color: #38bdf8;
    margin-bottom: 15px;
}


.info-card:hover {
    border-color: #FFD700;
    box-shadow: 0 0 20px 2px #FFD700;
    transform: translateY(-8px);
}


.info-card:hover img.card-img {
    transform: scale(1.05);
}

.head {
    text-align: center;   
    color:#FFD700;
    font-size: 48px;
    margin-bottom: 60px;
}



.contact-form-section{
    margin-top: 120px;
    text-align: center;
    color: white;
}

.contact-form{
    width: 420px;
    margin: 40px auto;
    background: #020617;
    padding: 30px;
    border-radius: 20px;
    border: 3px solid #FFD700;
}

.contact-field{
    text-align: left;
    margin-bottom: 20px;
}

.contact-field label{
    display: block;
    margin-bottom: 6px;
    color: #FFD700;
    font-weight: bold;
}

  .contact-value{
    padding: 12px;
    background: #0f172a;
    border-radius: 8px;
    border: 2px solid #1e293b;
    color: white; 
}  

.contact-value a {
    color: white;
    text-decoration: none;
}


.contact-value a:visited {
    color: white;
}


.contact-value a:hover {
    color: #FFD700;
    text-decoration: underline;
}

footer {
    background-color: #1A1A1A; 
    color: #f9fafb;            
    text-align: center;       
    padding: 15px 0;           
    border-top: 2px solid #374151; 
    font-size: 14px;
    font-family: Arial, sans-serif;
}
.project-links a {
    display: inline-block;
    margin-top: 8px;
    margin-right: 10px;
    padding: 8px 16px;
    background: #0A192F;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    transition: background 0.3s ease, color 0.3s ease;
}
